/*------------------------------------*\
  Elements > img
\*------------------------------------*/

img {
	display: block;
	max-width: 100%;
	font-style: italic;
}

.c-post-card img {
	margin-bottom: 25px;
	height: 150px;
	width: 100%;
	object-fit: cover;
}
