---
layout: page
---

<style>
	code {
		white-space: pre-wrap;
	}
	span.smallcaps {
		font-variant: small-caps;
	}
	span.underline {
		text-decoration: underline;
	}
	div.column {
		display: inline-block;
		vertical-align: top;
	}
</style>
<div>
	<table>
		<tbody>
			<tr class="odd">
				<td style="text-align: left;">
					<strong
						><a href="http://workbyjacob.com/">Jacob Sansbury</a></strong
					>
				</td>
				<td style="text-align: right;">
					Email :
					<a href="mailto:me@workbyjacob.com">me@workbyjacob.com</a>
				</td>
			</tr>
			<tr class="even">
				<td style="text-align: left;">
					<a href="http://workbyjacob.com/">workbyjacob.com</a>
				</td>
				<td style="text-align: right;">Mobile : +1-803-445-3351</td>
			</tr>
		</tbody>
	</table>
	<h1 id="experience">Experience</h1>
	<ul>
		<li>
			<table>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">
							<strong>Bridgewater Associates</strong>
						</td>
						<td style="text-align: right;">Westport, CT</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">
							<em>Security Engineer</em>
						</td>
						<td style="text-align: right;">
							<em>June 2018 - Present</em>
						</td>
					</tr>
				</tbody>
			</table>
			<ul>
				<li>
					<p>
						<span>
							<strong>Iris</strong
							><span
								>: Iris is an internal graph analysis tool designed for
								incident response and investigation workflows.
							</span>
						</span>
					</p>
					<ul>
						<li>
							<p>
								Shadowed customers to build and prioritize requirements
							</p>
						</li>
						<li>
							<p>
								Developed a scalable application utilizing GraphQL and
								React
							</p>
						</li>
						<li>
							<p>
								Designed highly available and fault tolerant AWS
								infrastructure
							</p>
						</li>
						<li>
							<p>
								Built Terraform to automate deployment of AWS resources
							</p>
						</li>
					</ul>
				</li>
				<li>
					<p>
						<span>
							<strong>Policy DB</strong
							><span
								>: is a proxy policy configuration engine designed to
								track the lifecycle of a policy exception and enforce
								configuration across multiple proxy providers.
							</span>
						</span>
					</p>
				</li>
			</ul>
		</li>
		<li>
			<table>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">
							<strong>Sansbury Consulting</strong>
						</td>
						<td style="text-align: right;">Tampa, FL</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">
							<em>Application Engineering</em>
						</td>
						<td style="text-align: right;">
							<em>October 2017 - June 2018</em>
						</td>
					</tr>
				</tbody>
			</table>
			<ul>
				<li>
					<p>
						<span>
							<strong>Mad Mobile Concierge</strong
							><span
								>: Concierge is a leading MPOS solution used globally by
								Brooks Brothers, Vans, and The North Face.
							</span>
						</span>
					</p>
					<ul>
						<li><p>Developed GDPR compliant analytics system</p></li>
						<li>
							<p>
								Lead adoption of test driven development to slash
								regression rates across all company applications
							</p>
						</li>
					</ul>
				</li>
				<li>
					<p>
						<span>
							<strong>ID Plans Remote Property Manager</strong
							><span
								>: Remote Property Manager is a real estate management
								system used by property managers nationwide.
							</span>
						</span>
					</p>
					<ul>
						<li>
							<p>
								Achieved plan load time performance improvements of 2X
							</p>
						</li>
						<li><p>Migrated on-premise infrastructure to AWS</p></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<table>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">
							<strong>SentinelSix</strong>
						</td>
						<td style="text-align: right;">Columbia, SC</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">
							<em>Full Stack Engineer</em>
						</td>
						<td style="text-align: right;">
							<em>June 2017 - October 2017</em>
						</td>
					</tr>
				</tbody>
			</table>
			<ul>
				<li>
					<p>
						<span>
							<strong>Guardian Angel</strong
							><span
								>: Guardian Angel is a global personnel security
								solution adopted by multiple Fortune 100 companies
							</span>
						</span>
					</p>
					<ul>
						<li>
							<p>
								Implemented CI/CD pipeline with Docker Cloud and Jenkins
							</p>
						</li>
						<li>
							<p>
								Built React-based real-time tracking dashboard and
								multi-tenant user management system.
							</p>
						</li>
						<li><p>Developed native iOS application</p></li>
						<li>
							<p>
								Built performant geospatial data ingestion endpoints,
								using Go.
							</p>
						</li>
						<li>
							<p>
								Designed and implemented plugin management solutions to
								cut Webpack build times.
							</p>
						</li>
						<li>
							<p>
								Slashed technical debt through preventive code review
								strategies and cut cloud costs through datastore index
								optimization strategies.
							</p>
						</li>
						<li>
							<p>
								Recruited and hired emerging developers through outreach
								to local high schools, hiring 3 interns.
							</p>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<table>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">
							<strong>TCube Solutions</strong>
						</td>
						<td style="text-align: right;">Columbia, SC</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">
							<em>Software Application Developer</em>
						</td>
						<td style="text-align: right;">
							<em>April 2016 - June 2017</em>
						</td>
					</tr>
				</tbody>
			</table>
			<ul>
				<li>
					<p>
						<span>
							<strong>R&amp;D</strong
							><span
								>: I developed and implemented business solutions and
								applications, while playing integral role in researching
								and recommending new technologies for the insurance
								sector. Part of this process was developing cost /
								benefit analyses and demonstrations.
							</span>
						</span>
					</p>
					<ul>
						<li>
							<p>
								Spearheaded research and development of use cases for
								potential use of blockchain technologies in the
								insurance sector.
							</p>
						</li>
						<li>
							<p>
								Drove automation of project kickoff and task assignment
								processes using JIRA.
							</p>
						</li>
						<li>
							<p>
								Launched internal file sharing tool to enable storage /
								sharing of 500 files per week.
							</p>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<h1 id="projects">Projects</h1>
	<ul>
		<li>
			<p>
				<span>
					<strong>Personal Finance Toolkit</strong
					><span
						>: Personal finance data generation and exploration toolkit
						codifying my decision making logic for more accurate decision
						making.
					</span>
				</span>
			</p>
		</li>
	</ul>
</div>
